<!DOCTYPE html>
 
{% load static %}

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{%static '/img/Icon Ada.png' %}" type="image/x-icon">
    <title>Estrelas além do tempo</title>
</head>

<body>
    <div class="titulo-estrelas" id="titulo-estrelas">
        <h1>Estrelas além do tempo</h1>
    </div>

    <div class="text-estrelas" id="text-estrelas">
        <p>No auge da corrida espacial travada entre Estados Unidos e Rússia durante a Guerra Fria, uma equipe de
            cientistas da NASA, formada exclusivamente por mulheres afro-americanas, provou ser o elemento crucial que
            faltava na equação para a vitória dos Estados Unidos, liderando uma das maiores operações tecnológicas
            registradas na história americana e se tornando verdadeiras heroínas da nação.</p>
    </div>

    <div class="img-estrelas" id="img-estrelas">
        <img src="{%static '\img\Estrelas.jpg' %}">
    </div>

    <div class="botao-estrelas" id="botao-estrelas">
    <a href="https://www.youtube.com/watch?v=wx3PVtrU-Os" target="_blank">
        <button>Assistir</button>
    </a>
    </div>

</body>

</html>