<!DOCTYPE html>

{% load static %}

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{%static '/img/Icon Ada.png' %}" type="image/x-icon">
    <title>Insecure</title>
</head>

<body>
    <div class="titulo-insecure" id="titulo-insecure">
        <h1>Insecure</h1>
    </div>

    <div class="text-insecure" id="text-insecure">
        <p>Acompanhe as aventuras de duas amigas afro-americanas, Issa Dee e Molly, que vivem diversas experiências,
            muitas delas desconfortáveis.</p>
    </div>

    <div class="img-insecure" id="img-insecure">
        <img src="{%static '\img\insecure.jpg' %}">
    </div>

    <div class="botao-insecure" id="botao-insecure">
        <a href="https://www.youtube.com/watch?v=k7JY7e07oGA" target="_blank">
            <button>Assistir</button>
        </a>
    </div>
</body>

</html>