<!DOCTYPE html>

{% load static %}

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{%static '/img/Icon Ada.png' %}" type="image/x-icon">
    <title>As três irmães</title>
</head>

<body>
    <div class="titulo-irmaes" id="titulo-irmaes">
        <h1>As três irmães</h1>
    </div>

    <div class="text-irmaes" id="text-irmaes">
        <p>Três irmãs que cresceram sozinhas e na pobreza se envolvem em uma conspiração com pessoas poderosas.</p>
    </div>

    <div class="img-irmaes" id="img-irmaes">
        <img src="{%static '\img\as tres irmas.jpg' %}">
    </div>

    <div class="botao-irmaes" id="botao-irmaes">
    <a href="https://www.youtube.com/watch?v=e-kZ8mPGRXE" target="_blank">
        <button>Assistir</button>
    </a>
    </div>
</body>

</html>