<!DOCTYPE html>

{% load static %}

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{%static '/img/Icon Ada.png' %}" type="image/x-icon">
    <title>Kakegurui</title>
</head>

<body>
    <div class="titulo-kakegurui" id="titulo-kakegurui">
        <h1>Kakegurui</h1>
    </div>

    <div class="text-kakegurui" id="text-kakegurui">
        <p>Yumeko Jabami aposta alto. Ela quer ganhar todas na Academia Hyakkaou, uma escola que avalia os alunos apenas por
            suas habilidades de jogo.</p>
    </div>

    <div class="img-kakegurui" id="img-kakegurui">
        <img src="{%static '\img\Kakegurui.jpg' %}">
    </div>

    <div class="botao-kakegurui" id="botao-kakegurui">
        <a href="https://www.youtube.com/watch?v=cTlHQiRNVl0" target="_blank">
            <button>Assistir</button>
        </a>
    </div>
</body>

</html>