<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./static/img/Icon Ada.png" type="image/x-icon">
    <title>Ada's Legacy</title>
</head>
<body>
    <nav class="navegacao" id="navegacao">

        <div id="titulo" class="titulo">
            <h1>Alguns dos nossos títulos em catálogo</h1>
        </div>

        <div id="menu" class="menu">
            <ul>
                <a href="#"><li>Filmes</li></a>
                <a href="#"><li>Séries</li></a>
                <a href="#"><li>Doramas</li></a>
                <a href="#"><li>Animes</li></a>
            </ul>
        </div>
    </nav>

    <section>
        <div class="titulo-filmes" id="titulo-filmes">
            <p>Filmes</p>
        </div>
        <container>
            <div class="filmes">
            <p>Estrelas além do tempo</p>
            <a href="./pag-estrelas.html" target="_blank"><img src="\app_website\static\img\Estrelas.jpg"></a>
            </div> 

            <div class="filmes">
            <p>A mulher rei</p>
            <a href="#"><img src="\app_website\static\img\mulher rei.png"></a>
            </div>

            <div class="filmes">
            <p>As sufragistas</p>
            <a href="#"><img src="\app_website\static\img\as sufragistas.jpg"></a>
            </div>

            <div class="filmes">
            <p>Histórias cruzadas</p>
            <a href="#"><img src="\app_website\static\img\historias cruzadas.jpg"></a>
            </div>

            <div class="filmes">
            <p>Oito mulheres e um segredo</p>
            <a href="#"><img src="\app_website\static\img\oito mulheres.jpg"></a>
            </div>
        </container>

        <div class="titulo-series" id="titulo-series">
            <p>Séries</p>
        </div>
        <container>
            <div class="series">
            <p>Insecure</p>
            <a href="./pag-insecure.html" target="_blank"><img src="\app_website\static\img\insecure.jpg"></a>
            </div>

            <div class="series">
            <p>Fleabag</p>
            <a href="#"><img src="\app_website\static\img\fleabag.png"></a>
            </div>

            <div class="series">
            <p>Coisa mais linda</p>
            <a href="#"><img src="\app_website\static\img\coisa mais linda.jpg"></a>
            </div>

            <div class="series">
            <p>Ela quer tudo</p>
            <a href="#"><img src="\app_website\static\img\ela quer tudo.jpg"></a>
            </div>

            <div class="series">
            <p>A Vida e a história de Madam C.J. Walker</p>
            <a href="#"><img src="\app_website\static\img\madame cj.jpg"></a>
            </div>
        </container>

        <div class="titulo-doramas" id="titulo-doramas">
            <p>Doramas</p>
        </div>
        <container>
            <div>
                <p>As três irmães</p>
                <a href="./as irmas.html"><img src="\app_website\static\img\as tres irmas.jpg"></a>
            </div>

            <div>
                <p>Pousando no amor</p>
                <a href="#"><img src="\app_website\static\img\pousando no amor.jpg"></a>
            </div>

            <div>
                <p>My name</p>
                <a href="#"><img src="\app_website\static\img\my name.jpg"></a>
            </div>

            <div>
                <p>Trinta e nove</p>
                <a href="#"><img src="\app_website\static\img\trinta e nove.jpg"></a>
            </div>

            <div>
                <p>Uma advogada extraordinária</p>
                <a href="#"><img src="\app_website\static\img\uma advogada extraordinária.jpg"></a>
            </div>
        </container>

        <div class="titulo-animes" id="titulo-animes">
            <p>Animes</p>
        </div>
        <container>
            <div>
                <p>Kakegurui</p>
                <a href="./pag-kakegurui.html"><img src="\app_website\static\img\Kakegurui.jpg"></a>
            </div>

            <div>
                <p></p>
                <a href="#"><img src=""></a>
            </div>

            <div>
                <p></p>
                <a href="#"><img src=""></a>
            </div>

            <div>
                <p></p>
                <a href="#"><img src=""></a>
            </div>

            <div>
                <p></p>
                <a href="#"><img src=""></a>
            </div>
        </container>

    </section>

</body>
</html>